* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    height: 100%;
    background-color: #ded8d7;
    margin: auto;
    margin-bottom: 150px;
    clear: both;
}

main {
    margin-top: 100px;
    flex: 1 0 auto;
}

/* HEADER */

.hamburger {
    width: 25px;
}

.navWrapper {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #d0d0d0;
    visibility: hidden;
}

.hambugerLine {
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background-color: #646160;
    margin-bottom: 6px;
}

.hambugerLine:last-child {
    margin-bottom: 0;
} 

nav {
    display: block;
}

nav a {
    color: rgb(63, 18, 18);
    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 5px 0px;
    text-decoration: none;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    color:rgb(63, 18, 18);
    font-weight: bold;
    font-size: 18px;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:rgb(146, 139, 139)
}

.inner {
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .inner {
        padding: 15px 25px;
    }
}

@media screen and (min-width: 1024px) {
    .navWrapper {
        background-color: transparent;
        top: 0;
        position: static;
        visibility: visible;
    }

    .inner {
        padding: 15px 0;
        max-width: 993px;
        margin: 0 auto;
    }

    nav {
        display: block;
    }

    nav a {
        display: inline-block;    
        line-height: 50px;

        font-size: 16px;
        margin: 15px 0;
        margin-right: 8px;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    nav a {
        font-size: 18px;
    }

    .inner {
        max-width: 1280px;
    }
}


.header__icon {
    max-width: 64px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

/* TABLICA */

caption {
    margin: 5px;
    padding: 5px;
    font-size: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    /* hide standard table (collapsed) border */
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.10);
}

td,
th {
    /* border: 1px solid rgb(139, 135, 135); */
    padding: 10px;
}

th a {
    font-weight: bold;
    color: #221f1f;
}

td a {
    text-decoration: none;
    font-weight: bold;
    color: #221f1f;
    text-align: center;
}

th {
    background-color: #ac9e9e;
}

tfoot tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ac9e9e;
}

tr:last-of-type {
    border-bottom: 2px solid #7e4b08;
}

@media only screen and (max-width: 760px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.5em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
}

.crveniRed {
    background-color: #b31506 !important;
}

.zeleniRed {
    background-color: #95b96e !important;
}

.pomoc {
    width: 100%;
    background-color: rgb(200, 100, 187);
    height: 100px;
    margin: 10px;
    padding: 10px;
}

.pomoc button {
    margin: 10px;
}

/* OBRASCI */

form {
    width: 650px;
    margin: 30px auto;
    border-radius: 10px;
    background: rgb(197, 187, 187);
}

.form_naslov {
    background-color: #EFF0F1;
    border-radius: 10px 10px 0 0;
}

.form_naslov h2 {
    font-size: 24px;
    text-align: center;
    color: #666;
    padding: 12px 0;
    border-bottom: 1px solid #cccccc;
}

.form_tijelo {
    padding: 10px 40px;
    color: #666;
}

input,
select {
    font-size: 16px;
    min-width: 125px;
    height: 40px;
    padding: 10px 10px;
    color: #222222;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    outline: none;
    margin: 10px 0;
}

.form_tijelo>input {
    width: 100%;
}

.form_greske {
    color: rgb(65, 10, 10);
    font-size: 16px;
    margin: auto;
    text-align: justify;
    font-weight: bold;
    line-height: 24px;
    padding: 10px 40px;
}

.form_podnozje {
    padding: 10px 0px 20px 40px;
}

.form_podnozje a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

form>input[type=text],
input[type=email] {
    width: 30%;
    margin: 8px 0;
    border-radius: 4px;
}

form>input[type=passsword] {
    width: 20%;
    margin: 8px 0;
}

form>input[type=submit] {
    width: 20%;
    margin: 15px 0;
}

/* GUMBI */

button,
input[type=submit] {
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 200px;
    transition: all 0.3s ease 0s;
    border: none;
}

button:not([disabled]):hover,
input[type=submit]:hover {
    background-color: #ac9898;
    box-shadow: 0px 15px 20px rgba(150, 121, 89, 0.137);
    color: #fff;
    transform: translateY(-3px);
}

/* GRAFOVI */

.grafContainer {
    margin: 0 auto;
    text-align: center;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #bbb8b5;
    box-shadow: 0 50vh 0 50vh #bbb8b5;
    max-height: 75px;
    font-size: 12px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: rgb(63, 18, 18);
}

.footer__img {
    height: 30%;
    width: 30%;
    max-height: 32px;
    max-width: 32px;
}