* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    width: 80%;
    background-color: #ded8d7;   
    margin: auto;
    margin-bottom: 150px;
    clear: both;
}


/* HEADER */

nav {
    display: inline-block;
}

nav a {
    color:rgb(63, 18, 18);
    font-size: 18px;
    text-decoration:none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.header__icon {
    max-width: 64px;
}

h1 a {
    text-decoration: none;
    color: inherit; 
}

/* TABLICA */

caption {
    margin: 5px;
    padding: 5px;
    font-size: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    overflow:hidden;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.10);
}

td, th {
    /* border: 1px solid rgb(139, 135, 135); */
    padding: 10px;
}

td a {
    text-decoration: none;
    font-weight: bold;
    color: #221f1f;
    text-align: center;
}

th {
    background-color: #ac9e9e;
}

tfoot tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ac9e9e;
}

tr:last-of-type {
    border-bottom: 2px solid #7e4b08;
}

@media only screen and (max-width: 760px) {
    table {
        border: 0;
      }
    
      table caption {
        font-size: 1.5em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
}

.crveniRed {
    background-color: #990F02 !important;
}

.zeleniRed {
    background-color: #74B72E !important;
}

/* OBRASCI */

form {
    width:650px;
    margin:30px auto;
    border-radius: 10px;
    background:rgb(197, 187, 187);
}

.form_naslov {
    background-color: #EFF0F1;
    border-radius: 10px 10px 0 0;
}

.form_naslov h2 {
    font-size: 24px;
    text-align:center;
    color:#666;
    padding:12px 0;
    border-bottom:1px solid #cccccc;
}

.form_tijelo {
    padding:10px 40px;
    color:#666;     
}

.form_tijelo input, select {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 10px;
    color: #222222;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    outline: none;
    margin: 10px 0;
}

.form_greske {
    color:rgb(65, 10, 10);
    font-size: 16px;
    margin: auto;
    text-align: justify; 
    font-weight: bold;
    line-height: 24px;   
    padding: 10px 40px;
}

.form_podnozje {
    padding: 10px 0px 20px 40px;
}

.form_podnozje a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

form > input[type=text], input[type=email] {
    width: 30%;
    margin: 8px 0;
    border-radius: 4px;
}

form > input[type=passsword] {
    width: 20%;
    margin: 8px 0;
}

form > input[type=submit] {
    width: 20%;
    margin: 15px 0;
}

/* GUMBI */

button, input[type=submit] {
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 200px;
    transition: all 0.3s ease 0s;
    border: none;
}

button:not([disabled]):hover, input[type=submit]:hover {
    background-color: #ac9898;
    box-shadow: 0px 15px 20px rgba(150, 121, 89, 0.137);
    color: #fff;
    transform: translateY(-3px);
}

/* GRAFOVI */

.grafContainer {
    margin: 0 auto;
    text-align: center;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #bbb8b5;
    box-shadow: 0 50vh 0 50vh #bbb8b5;
    max-height: 75px;
    font-size: 12px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color:rgb(63, 18, 18);
}

.footer__img {
    height: 30%;
    width: 30%;
    max-height: 32px;
    max-width: 32px;
}

/* RESP */

@media (min-width: 1920px) {
    * {
        font-family: 'Pangolin', sans-serif;
    }

    body {
        background-color: #646160;
        color: rgb(211, 204, 204);
    }

    footer {
        background-color: #943232;
    }

    caption {
        font-size: 25px;
    }

    th {
        background-color: #b84242;
        font-size: 20px;
    }

    tr:nth-child(even) {
        background-color: #be4444;
    }

    input, textarea, select {
        background-color: #e2dcda;
    }
}
